.more {
  display: block;
}

.less {
  display: none;
}

.ExpandMode .more {
  display: none;
}

.ExpandMode .less {
  display: block;
}

.ExpandMode{
    border: none;
}

@media (hover: hover) and (pointer: fine) {
  .content:hover .more {
    display: none;
  }

  .content:hover .less {
    display: block;
  }
}