.more{
  display: block;
}

.less{
    display: none;
}

.content:hover .less{
    display: block;
}

.content:hover .more{
    display: none;
}

@media (min-width: 780px) {
    .content:active .less{
      display: block;
  }

  .content:active .more{
      display: none;
  }

}