.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 48px 32px;
}

.FooterContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.FooterContent span{color: var(--text-secondary); cursor: pointer;}
.FooterContent span:hover{color:  var(--text-hover);}

.Socials{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.SocialsIcons{color: var(--icon); cursor: pointer;}
.SocialsIcons:hover{color: var(--icon-hover);}

@media (max-width: 780px) {
    .Footer{
        padding: 24px 20px 24px;
    }
}

@media (min-width: 780px) {
    .Footer{
        flex-direction: row;
        justify-content: space-between;
    }
    .FooterContent{
        gap: 16px;
        font-size: 16px;
    }
}